/*
Theme's main style.

@author Vee W.
*/
@import 'flexvideo.css';

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    font-family: "Cormorant Garamond", serif ;
    font-weight: normal;
    font-style: normal;
}

.pagination {
    margin: 0;
}
.pagination-center {
    text-align: center;
}
.pagination-row {
    margin-bottom: 20px;
}


.page-header {
    margin-bottom: 0;
}


.page-header-top-right {
    margin-top: 10px;
}


.post-view-attachment .entry-attachment .attachment {
    text-align: center;
}
.post-view-attachment .entry-attachment .attachment .card {
    margin: 0 auto;
    width: 400px;
}
.post-view-attachment .entry-attachment .attachment .wp-video {
    margin: 0 auto;
}


.row-with-vspace {
    margin-bottom: 20px;
}


.site-footer {
    background-color: #000;
    border-top: none;
    font-size: 12px;
    padding: 10px;
    color: #fff;
    padding: 60px 0;
}

.site-main .format-aside {
    background: #f5f5f5;
}
.site-main .format-image {
    background: url('../img/content-post-format-image.png') left top no-repeat;
}
.site-main .format-link {
    background: url('../img/content-post-format-link.png') left top no-repeat;
}
.site-main .format-quote {
    background: url('../img/content-post-format-quote.png') left top no-repeat;
}
.site-main .format-video {
    background: url('../img/content-post-format-video.png') left top no-repeat;
}


.site-title {
    margin-bottom: 0;
    margin-top: 10px;
}
.site-title > a {
    text-decoration: none;
}
.site-title > div {
    height: auto;
    line-height: 18px;
}
.site-title .site-description {
    color: #999;
    font-size: 16px;
}
.site-title .site-title-heading {
    margin: 0;
}


.widget_calendar .calendar_wrap table {
    font-size: 14px;
    margin: 0;
}
.widget_calendar .calendar_wrap table caption {
    caption-side: top;
}
.widget_calendar .calendar_wrap .table td,
.widget_calendar .calendar_wrap .table th {
    padding: 8px;
}
.widget_calendar .calendar_wrap .table #next {
    text-align: right;
}


#comments .comment-navigation,
#comments .comment-navigation-below {
    margin-bottom: 20px;
    margin-top: 15px;
}
#comments .comment-navigation {
    list-style: none;
    margin-top: 0;
    padding: 0;
}
#comments .comment-respond {
    margin-top: 20px;
}
#comments .media-list li .media {
    margin-top: 15px;
}
#comments .media-list li .media .media-body {
    border: 1px solid #eee;
    padding: 10px;
}
#comments .media-list li .media .media-body .comment-author {
    font-size: 12px;
    margin-bottom: 10px;
}
#comments .media-list ul.children {
    list-style: none;
    margin-left: 4em;
    padding-left: 0;
}


#main .wp-video-shortcode {
    display: block;
    height: auto;
    max-width: 100%;
}
#main .attachment .entry-content {
    margin-bottom: 20px;
}
#main .attachment .entry-content .attachment {
    text-align: center;
}
#main .attachment .entry-meta {
    margin-bottom: 20px;
}
/* fix auto img responsive */
#main .post .entry-content img {
    height: auto;
    max-width: 100%;
}
#main .post,
#main .page {
    border: 1px solid #eee;
    margin-bottom: 20px;
    overflow-x: auto;
    padding: 10px;
}
#main .post .entry-header .entry-meta {
    color: #999;
    font-size: 0.8rem;
}
#main .post .entry-header .entry-meta a {
    color: inherit;
}
#main .post .entry-header .entry-meta .posted-on .updated {
    display: none;
}
#main .post .entry-meta .categories-icon {
    cursor: default;
}
#main .post .entry-meta .comments-link a {
    color: #333;
}
#main .post .entry-meta .comments-link a .comment-total,
#main .page .entry-meta .comments-link a .comment-total {
    color: #555;
}
#main .attachment .edit-post-link a, 
#main .attachment .entry-meta .edit-post-link a, 
#main .post .entry-meta .edit-post-link a,
#main .page .entry-meta .edit-post-link a {
    color: #333;
}
#main .post .entry-meta .tags-icon {
    cursor: default;
}
#main .attachment .entry-title, 
#main .post .entry-title,
#main .page .entry-title {
    margin-top: 0;
    word-wrap: break-word;
}


#sidebar-left .widget,
#sidebar-right .widget {
    border: 1px solid #eee;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 10px;
}
#sidebar-left .widget ul,
#sidebar-right .widget ul {
    padding-left: 20px;
}
#sidebar-left .widget .widget-title,
#sidebar-right .widget .widget-title {
    font-size: 18px;
    margin-top: 0;
}


/* Fix Bootstrap 4 */
.navbar {
    min-height: 54px;/* With this, we can use navbar without navbar-brand */
}

.container{
    max-width: 1500px;
    width: 95%;
}
.navbar-nav{
    width: 100%;
    align-items: center;
    justify-content: center;
}
.navbar-nav li {
    padding: 0 60px;
}
.navbar-nav li a {
    color: #000 !important;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}
#aboutUs .col-lg-4 img {
    height: 540px;
    object-fit: cover;
}
.uploaded-video video {
    object-fit: cover;
    height: 600px;
    width: 100%;
}
.video-section .container {
    max-width: 940px;
    text-align: center;
}
.video-section .desc {
    padding: 50px 0;
    font-size: 21.3333px;
    color: #000;
    font-weight: 400;
}
.heading span {
    font-size: 21px;
    text-transform: uppercase;
    color: #000;
    background: #F0F0F0;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 6px;
}
.banner-content {
  
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 30px;
    color: #fff;
}

.banner-content h1 {
    font-size: 35.9998px;
    text-transform: uppercase;
    font-weight: 800;
}
.map.text-center img {
    width: 100%;
}
.uploaded-video {
    position: relative;
}
.custom_container {
    max-width: 877px;
    text-align: center;
}
#mapSection .des {
    padding: 30px 0 0;
    text-align: left;
    font-size: 21.3333px;
    font-weight: 400;
    color: #000;
}
.about-description {
    font-size: 21.3333px;
    color: #000;
    font-weight: 400;
}
#aboutUs {
    margin: 80px 0;
    background: #fff;
    box-shadow: 0 0 6px #ccc;
    padding: 80px 0;
}

h2 {
    font-size: 26px;
    text-transform: uppercase;
    margin: 0 0 20px;
    color: #000;
    font-weight: 400;
}
.about-description p:last-child {
    margin-bottom: 0;
}
.common .container {
    max-width: 1200px;
}
h2.factory-title {
    margin: 0 0 60px;
}
.factoryManu {
    padding: 80px 0;
    background: #fff;
    box-shadow: 0 0 6px #ccc;
    margin-top: 80px;
}
.services-short-description {
    margin: 0 0 30px;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16.0003px;
    font-weight: 400;
    color: #000;
}
h1.site-title-heading img {
    width: 240px;
}
.service-inner-description {
    font-size: 21.3333px;
    color: #000;
    font-weight: 400;
}
.serviceImg img {
    height: 704px;
    object-fit: cover;
}
.service-inner-description p:last-child {
    margin-bottom: 0;
}
p.cneterserverice {
    text-transform: uppercase;
    font-size: 17.3336px;
    margin: 40px 0 0 !important;
}
.service-inner-description h3, .service-content h3 {
    font-size: 18.6667px;
    text-transform: uppercase;
    margin: 0 0 10px;
    font-weight: 400;
}
.service-inner-description p {
    margin: 0 0 20px;
}
.des_res {
    font-size: 21.3333px;
    font-weight: 400;
    color: #000;
}
#factory .uploaded-video video {
    height: 100%;
    object-fit: cover;
}
#factory .uploaded-video {
    height: 484px;
    overflow: hidden;
}
.owl-theme.owl-carousel.factoryslider {
    height: 100%;
}
.owl-theme.owl-carousel.factoryslider .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin: 0;
}
.owl-theme.owl-carousel.factoryslider .owl-nav button.owl-prev {
    position: absolute;
    background: #000 !important;
    color: #fff !important;
    padding: 0 14px !important;
    margin: 0 !important;
    width: 10px;
    height: 43px;
    left: 0;
}
.owl-theme.owl-carousel.factoryslider .owl-nav button.owl-prev span {
    font-size: 45px;
    position: relative;
    top: -18px;
    left: -5px;
}

.owl-theme.owl-carousel.factoryslider .owl-nav button.owl-next {
    position: absolute;
    background: #000 !important;
    color: #fff !important;
    padding: 0 14px !important;
    margin: 0 !important;
    width: 10px;
    height: 43px;
    right: 0;
}
.owl-theme.owl-carousel.factoryslider .owl-nav button.owl-next span {
    font-size: 45px;
    position: relative;
    top: -18px;
    left: -5px;
}
#our-services{
    padding: 80px 0;
}

.service-content {
    margin: 40px 0 0;
    font-size: 21.3333px;
    color: #000;
    font-weight: 400;
}
.service-content p {
    margin: 0 0 20px;
}
.footerLogo .innerlogo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.footerLogo .innerlogo {
    width: 155px;
    height: 75px;
}
.row.repeaterRow.justify-content-between.align-items-center.section-one {
    justify-content: flex-start !important;
}
/* 
#innerProduct:after {
    content: "";
    background: rgba(0, 0, 0, .7);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
} */
#innerProduct {
background: url(http://3.6.49.70/creations/wp-content/uploads/2025/01/Banner-2.png) no-repeat;
    position: relative;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
#innerProduct .container {
    position: relative;
    z-index: 9;
    max-width: 100%;
    width: 100%;
}
.product-description {
    background: rgb(83, 43, 27, .3);
    padding: 10px 20px;
}
.video-item video.img-fluid {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.about-description ul {
    margin-bottom: 0;
}

h3.product-heading {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}
#innerProduct p {
    color: #fff;
}
section.product-carousel {
    padding: 60px 0 80px;
}
.product-carousel .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    margin: 0;
}
.product-carousel .owl-nav .owl-next {
    position: absolute;
    right: -40px;
}
.product-carousel .owl-nav .owl-prev {
    position: absolute;
    left: -40px;
}
.product-carousel .owl-nav button {
    background: #000 !important;
    color: #fff !important;
    padding: 0 30px !important;
    margin: 0 !important;
    width: 30px;
    height: 40px;
    border-radius: 5px !important;
    top:-40px;
}
.product-carousel .owl-nav button span {
    font-size: 43px;
    position: relative;
    top: -16px;
}
.footerLogo .blockImg img {
    width: 110px;
}
.footerLogo .blockImg {
width: 20%;
    text-align: center;
    margin: 20px 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-carousel .owl-nav .owl-next {
    position: absolute;
    right: -40px;
}

#responsibility {
    padding: 80px 0;
    background: #fff;
    box-shadow: 0 0 6px #ccc;
}

#responsibility h2 {
    margin: 0 0 40px;
}
#responsibility img {
    width: auto;
}
.repeaterRow:nth-child(odd) {
    flex-direction: row-reverse;
    margin-top: 55px;
    align-items: end !important;
}
#contactUs {
    padding: 80px 0;
}
.serviceImg {
    height: 704px;
}
.contact-form {
    padding: 25px;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc;
}
.contact-form .block textarea {
    width: 100%;
    border: 1px solid #c3c3c3;
    padding: 10px 10px;
    background: #f5f5f5;
    border-radius: 6px;
    height: 132px;
    resize: none;
}
.contact-form .block input {
    width: 100%;
    border: 1px solid #c3c3c3;
    padding: 10px 10px;
    background: #f5f5f5;
    border-radius: 6px;
}
.contact-form .block.submit input {
    width: 100%;
    background: #333;
    color: #fff;
    text-transform: uppercase;
}
.contact-form .block.submit span.wpcf7-spinner {
    display: none;
}
.contact-form .block.submit p {
    margin: 0;
}
.footerCustom h2 {
    font-size: 26px;
    margin: 0 0 28px;
color:#fff;
}
.footerCustom ul li a {
    color: #fff;
    margin: 0 0 10px;
    display: block;
    font-size: 18px;
}
.footerCustom ul {
    margin: 0;
    padding: 0 0 0 9px;
    list-style: none;
    font-size: 18px;
    text-transform: uppercase;
}
.footerCustom .widget_media_image {
    margin: 0 0 40px;
    text-align: center;
}
.footerInner ul li {
    margin: 0 0 8px;
}

.footerInner ul li a {
    text-transform: capitalize;
}
.uploaded-image {
    height: 680px;
    overflow: hidden;
}
.uploaded-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width:1440px){
    .navbar-nav li {
        padding: 0 40px;
    }
    .product-carousel .owl-nav .owl-prev {
        position: absolute;
        left: -45px;
    }
    .product-carousel .owl-nav .owl-next {
        position: absolute;
        right: -45px;
    }
}

@media (max-width:1200px){
    .navbar-nav li {
        padding: 0 20px;
    }
    .map.text-center img {
        width: 100%;
    }
}

@media (max-width:1024px){
    .navbar-nav li {
        padding: 0 25px;
    }
    .uploaded-video video {
        object-fit: cover;
        height: 310px;
        width: 100%;
    }
    .innerlogo.text-right img {
        width: 230px;
    }
    .map img {
        width: 100%;
    }
    .footerCustom h2 {
        font-size: 17px;
        margin: 0 0 28px;
    }
    .footerCustom ul li a, .footerCustom ul {
        font-size: 14px;
    }
    #innerProduct {
        background-position: right -1px center !important;
        height: 100vh;
        background: url(http://3.6.49.70/creations/wp-content/uploads/2025/01/800_600-banner.png) no-repeat;
        background-size: cover;
    }
}

@media (max-width:800px){
    header.page-header.page-header-sitebrand-topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .navbar {
        min-height: 54px;
        position: static;
    }
    .navbar-collapse {
        position: absolute;
        width: 100%;
        left: 0;
        top: 100%;
        background: #fff;
        padding: 20px 0 20px;
        z-index: 9999;
    }
    .row.main-navigation .col-md-12 {
        position: static;
    }
    #aboutUs, .factoryManu {
        margin: 50px 0;
        background: #fff;
        box-shadow: 0 0 6px #ccc;
        padding: 50px 0;
    }
    h2 {
        font-size: 25px;
        text-transform: uppercase;
        margin: 25px 0 20px;
    }
    .common {
        text-align: center;
    }
    .about-description, .service-inner-description, .des_res {
        margin: 30px 0 0;
    }
    #our-services, #responsibility, #contactUs {
        padding: 50px 0;
    }
    .service-content ul li {
        margin: 0 0 10px;
    }
    .service-content ul {
        padding: 0;
        text-align: left;
    }
   
    .footerCustom {
        text-align: center;
        margin: 0 0 30px;
    }
    .footerCustom:last-child {
        margin-bottom: 0;
    }  
.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 94%;
    padding: 10px;
    color: #fff;
}

#factory .uploaded-video {
    height: 426px;
}
.about-description ul {
   
    margin: 0;
    text-align: left;
} 
section#factory {
    margin-bottom: 0;
}
.services-short-description {    padding-right: 0;}
#responsibility h2 {
    margin: 0 0 20px;
    text-align: center;
}
.repeaterRow:nth-child(odd) {
    flex-direction: row-reverse;
    margin-top: 15px;
}

.footerLogo .row {
    flex-wrap: wrap;
}
.footerLogo .blockImg {
    width: 100%;
    text-align: center;
    margin: 20px 0 0px;
    display: flex
;
    align-items: center;
    justify-content: center;
}
.product-carousel .owl-nav .owl-prev {
    position: absolute;
    left: -20px;
}
.product-carousel .owl-nav .owl-next {
    position: absolute;
    right: -20px;
}
}


@media(max-width:767px){
    .video-section .desc {
        padding: 30px 0;
        font-size: 16px;
    }
    .video-section .desc p br {
        display: none;
    }
    #mapSection .des {
        text-align: center;
        font-size: 16px;
    }
    .about-description, .service-inner-description, .des_res, .service-content{
        font-size: 16px;
    }
    h2 {
        font-size: 20px;
    }
    #our-services, #responsibility, #contactUs {
        padding: 30px 0;
    }
    .services-short-description {
        font-size: 13px;
    }
    .serviceImg {
        height: 500px;
    }
    .serviceImg img {
        height: 500px;
        object-fit: cover;
    }
    .des_res ul {
        text-align: left;
    }
    p.cneterserverice {
        text-transform: uppercase;
        font-size: 14px;
        margin: 40px 0 0 !important;
    }
    #innerProduct {
        height: 380px;
    }
}